<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uos.suribank.dao.UserDAO">

	<!-- login 쿼리 -->
	<select id="login" parameterType="com.uos.suribank.dto.UserVO" resultType="com.uos.suribank.dto.UserVO">
		select id, name, nickname from user where id=#{id} and password=#{password}
	</select>
	
	<!--  회원가입 쿼리 -->
	<insert id="signup" parameterType="com.uos.suribank.dto.UserVO">
		insert into user (id, password, name, nickname, email, major) values ( #{id}, #{password}, #{name}, #{nickname} , #{email}, #{major})
	</insert>
	
	<!-- ID 중복확인 쿼리 -->
	<select id= "checkId" parameterType="String" resultType = "Integer" >
		select count(*) from user where id = #{id}
	</select>

	<!-- 개인정보 받아오기 -->
	<select id="getInfo" parameterType="String" resultType="com.uos.suribank.dto.UserVO">
		select _no, id, password, name, nickname, email, type, major, date_format(registerdate, '%Y.%m.%d %H:%i:%s')as registerdate, point from user where id = #{id}
	</select>

	<!-- 탈퇴 -->
	<delete id="deleteInfo" parameterType="com.uos.suribank.dto.UserVO">
		delete from user where id = #{id} and password = #{password}
	</delete>

	<!-- 수정 -->
	<update id="updateInfo" parameterType="com.uos.suribank.dto.UserVO">
		update user set password = #{password}, name = #{name}, nickname = #{nickname}, email = #{email}, major = #{major} where id = #{id}
	</update>
	
	<!-- 전체 유저 받아오기 -->
	<select id="getAllUsers" resultType = "com.uos.suribank.dto.UserVO">
		select _no, id, password, name, nickname, email, type, major, date_format(registerdate, '%Y.%m.%d %H:%i:%s')as registerdate, point from user

	</select>


</mapper>